@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.background-1 {
    background-color: #1F2937;
    color: white;
    padding: 0 150px;
    padding-bottom: 100px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

.header-links > li {
    list-style-type: none;
    font-size: 18px;
}

.h-logo {
    font-weight: 700;
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 100px;
}

.header-links {
    display: flex;
    margin-top: 0;
    gap: 20px;
    font-weight: 300;
}

.main-text {
    font-weight: 900;
    font-size: 48px;
}

.subtext {
    font-size: 18px;
    padding: 20px 0px;
}

.button {
    background-color: #3882F6;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size:  18px;
    font-weight: bold;
}

.image {
    height: 300px;
    width: 200px;
    background-color: rgb(178, 207, 207);
    color: black;
    display: flex;
    align-items: center;
    flex-basis:0;
    flex-grow: 1;
    justify-content: center;
}

.info-2 {
    flex-basis: 0;
    flex-grow: 1;
}

.info-1 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header-2 {
    font-size: 36px;
    font-weight: 900;
    color: 1F2937;
    text-align: center;
    padding: 40px 0px;
}

.box {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 20px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-bottom: 100px;
}

.text {
    font-size: 18px;
    padding-top: 5px;
}

.container {
    width: 200px;
    text-align: center;
}

.background-3 {
    background-color: #E5E7EB;
    padding: 96px 0;
}

.quote {
    text-align: left;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    font-size: 24px;
    text-align: right;
}

.background-4 {
    padding: 100px 0px;
}

.bluebox{
    background-color: #3882F6;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
    border-radius: 10px;
}

.call {
    font-size: 24px;
    color: white;
}
.sign {
    font-size: 18px;
    color: white;
}

.button-2 {
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882F6;
}

